.header {
  width: 100%;
  padding-top: 6rem;
  text-transform: lowercase;
  box-sizing: border-box;

  background-image: image-url("banners/banner-studio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 40rem;
  position: relative;


  h1 {
    margin: 0;
    color: #fff;
    font-size: 5rem;
    text-shadow: 0 0 80px #000;

    &:hover {
      text-decoration: underline;
    }
  }

  .header-left {
    width: 100%;
    float: left;
    text-align: left;
  }
}
