.navbar .social-links {
  text-decoration: none;
  margin-top: 0.7rem;
  margin-right: -0.6rem;

  a {
    font-size: 1.5rem;
    color: #eee;
    transition: 0.2s ease-in;
    padding: 0.8rem;

    &:hover {
      color: #222;
    }
  }
}
