.header {
  width: 100%;
  text-transform: lowercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("/images/banners/banner-studio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 42rem;
  position: relative; }
  .header h1 {
    margin: 10.8rem 0 -0.8rem 0;
    color: #fff;
    font-size: 6rem;
    text-shadow: 0 0 80px #000; }
  .header h2 {
    font-size: 2.4rem;
    line-height: 2.2rem;
    text-shadow: 0 0 30px #000;
    color: #fff;
    font-weight: 200; }
  .header .header-content {
    margin-top: 3.7rem;
    width: 100%;
    float: left;
    text-align: left; }
