* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  background: #222;
  min-width: 49rem; }

a {
  color: #111;
  text-decoration: none; }
  a:focus, a:hover {
    color: #222; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.page-column {
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
  padding: 0 2rem; }

.page-column-wrapper {
  width: 100%;
  float: left; }

.content {
  text-align: left; }
  .content h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-top: 3.5rem;
    font-weight: 800;
    padding-bottom: 0.5rem; }
  .content h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100; }
  .content .content-header {
    background: #eee;
    color: #111; }
  .content .content-body {
    margin: 1.5rem 0; }
    .content .content-body a {
      color: #fff;
      text-decoration: underline; }

.navbar {
  text-transform: lowercase;
  background: transparent;
  margin-bottom: -2.4rem;
  z-index: 1;
  position: relative; }
  .navbar .navbar-left, .navbar .navbar-right {
    width: 50%;
    float: left; }
  .navbar .navbar-left {
    text-align: left; }
  .navbar .navbar-right {
    text-align: right; }
