* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-family: 'Source Sans Pro';
  text-align: center;
  background: #222;
  min-width: 49rem;
  position: relative; }

a {
  color: #111;
  text-decoration: none; }
  a:focus, a:hover {
    color: #222; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.page-column {
  width: 100%;
  max-width: 51rem;
  margin: 0 auto;
  padding: 0 2rem; }

.page-column-wrapper {
  width: 100%;
  float: left; }

.columns-2 {
  width: 100%;
  float: left; }
  .columns-2 .column {
    width: 50%;
    float: left; }
    .columns-2 .column:nth-of-type(odd) {
      padding-right: 1rem; }
    .columns-2 .column:nth-of-type(even) {
      padding-left: 1rem; }

.content {
  text-align: left;
  float: left;
  width: 100%;
  position: relative; }
  .content h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 800; }
  .content li {
    font-size: 1rem;
    line-height: 1.5rem; }
  .content h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.1rem; }
  .content h4 {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem; }
  .content p {
    font-size: 1rem;
    line-height: 1.5rem; }
  .content video {
    margin-top: 0.5rem; }
  .content .content-header {
    background: #fff;
    color: #111; }
    .content .content-header h2 {
      margin: -4rem 0 0.5rem -0.3rem;
      z-index: 2;
      position: relative;
      font-family: 'Lora'; }
  .content .content-body {
    padding: 0.1rem 0 0.5rem 0; }
    .content .content-body a {
      color: #fff;
      text-decoration: underline; }
    .content .content-body .icon {
      font-size: 1.8rem;
      padding: 0.5rem;
      text-decoration: none;
      display: inline-block;
      color: #fff; }
      .content .content-body .icon:hover {
        color: #ddd; }

.navbar {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-transform: lowercase;
  text-shadow: 0 0 80px #000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  padding-bottom: 1rem; }
  .navbar .navbar-left, .navbar .navbar-right {
    float: left; }
  .navbar .navbar-left {
    width: 60%;
    text-align: left; }
  .navbar .navbar-right {
    width: 40%;
    text-align: right; }

.content-header-triangle {
  height: 8rem;
  margin-top: -8rem;
  position: absolute;
  z-index: 1;
  width: calc( 100% - ((100% - 50rem) / 2)); }
  .content-header-triangle polygon {
    fill: #eee; }

.video-section .video-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }

.video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
