.navbar .social-links {
  text-decoration: none;
  margin-top: 0.7rem;
  margin-right: -1.1rem; }
  .navbar .social-links a {
    font-size: 1.5rem;
    color: #fff;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    padding: 0.8rem; }
    .navbar .social-links a:hover {
      color: #000; }
