---
title: booking
---

<br>

<p>
  Please send booking inquiries to <a href="mailto:booking@saraneidorf.com">booking@saraneidorf.com</a>.
</p>

<p>
  As a session drummer, I’m enthused to collaborate with projects of diverse genre and for various lengths of time. With a quick ear, a knack for improvising, and an adaptable playing style, I’m comfortable joining projects on short notice, be it in the studio or on stage.
</p>

<h3>
  Studio
</h3>
<hr>
<ul>
  <li>
    Most recently, I recorded drums on a studio album with The Brian Jonestown Massacre (release date: March 15, 2019)
  </li>
  <li>
    Madrigal (Restless Ghosts EP coming soon)
  </li>
  <li>
    <a href="https://soundcloud.com/madkatethetide/when-did-we-get-ill">
      Mad Kate | The Tide
    </a>
  </li>
  <li>
    <a href="https://soundcloud.com/sara-neidorf/i-cant-relate-by-the-bad-vibes">
      The Bad Vibes
    </a>
  </li>
</ul>

<h3>
  Live
</h3>
<hr>
<ul>
  <li>
    In September and October 2018, I completed a 5-week tour with legendary psychedelic rock group Brian Jonestown Massacre.
  </li>
  <li>
    In July 2014, I completed a short tour with Berlin-based queer electro-pop group, Godmother.
  </li>
  <li>
    <a href="https://youtu.be/1cDANCnL97c?t=44">
      Watch my performance with Valerie Renay at Maxim Gorki Theater, Studio R.
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=TKV4-sTuhbs">
      Watch my performance with I Have No Mouth and I Must Scream at Schokoladen.
    </a>
  </li>
</ul>
