<div class="content-header page-column-wrapper">
  <div class="page-column">
    <h2>about</h2>
  </div>
</div>
<div class="content-body page-column-wrapper">
  <div class="page-column">
    <h4>
      Beginning at age 10 with private lessons in rudiments and hand technique, I found my home on the drum kit at age 12, learning the ins and outs of rock music and ear-training at the Paul Green School of Rock Music.
    </h4>
    <br>
    <h4>
      From 12-16, I played live and toured with other young musicians and seasoned professionals such as Ike Willis (Frank Zappa), Adrien Bellew (Yes), John Wetton (King Crimson), Peter Frampton, Napoleon Murphy Brock (Zappa), among others. I began giving private drum lessons at the age of 17, and am still happily working with students in my studio in Berlin Neukölln.    
    </h4>
    <br>
    <h4>
      I’ve been collaborating, gigging, and recording with original bands in Philadelphia and Berlin. Among these Berlin-based projects are Mellowdeath, I Have No Mouth And I Must Scream, Godmother, Eatus Fetus, Attention Horse, Aptera, Madrigal, and The Brian Jonestown Massacre.
    </h4>
    <br>
    <h4>
      Most recently, I completed a five-week European tour with the Brian Jonestown Massacre. 
    </h4>
  </div>  
</div>
